@model WebAppLottery.Models.IndexPageModel

<table class="table">
    <thead>
        <tr>
            <td colspan="5">
                Tổng số lần xuất hiện theo nhóm
            </td>
            <td colspan="2">
                @if (Model.ListLoaiVe == WebAppLottery.Models.IndexPageModel.LoaiVe._6Over55)
                {
                    <a href="https://vietlott.vn/vi/trung-thuong/ket-qua-trung-thuong/winning-number-655" title="Đi đến trang Vietlott 655" target="_blank">Vietlott</a>
                }
                else if (Model.ListLoaiVe == WebAppLottery.Models.IndexPageModel.LoaiVe._6Over45)
                {
                    <a href="https://vietlott.vn/vi/trung-thuong/ket-qua-trung-thuong/winning-number-645" title="Đi đến trang Vietlott 645" target="_blank">Vietlott</a>
                }

                @*https://vietlott.vn/vi/trung-thuong/ket-qua-trung-thuong/winning-number-Keno
                https://vietlott.vn/vi/trung-thuong/ket-qua-trung-thuong/winning-number-max-3D
                https://vietlott.vn/vi/trung-thuong/ket-qua-trung-thuong/winning-number-max-3Dpro
                https://vietlott.vn/vi/trung-thuong/ket-qua-trung-thuong/winning-number-max-4d*@
            </td>
        </tr>
        <tr>
            <td class="table-danger">
                1->7
            </td>
            <td class="table-warning">
                8->15
            </td>
            <td class="table-success">
                16->23
            </td>
            <td class="table-secondary">
                24->31
            </td>
            <td class="table-dark">
                32->39
            </td>
            <td class="table-primary">
                40->47
            </td>
            <td>
                48->55
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

                <p> @Model.NoAppear1To7</p>

            </td>
            <td>

                <p> @Model.NoAppear8To15</p>

            </td>
            <td>

                <p> @Model.NoAppear16To23</p>

            </td>
            <td>

                <p> @Model.NoAppear24To31</p>

            </td>
            <td>

                <p> @Model.NoAppear32To39</p>

            </td>
            <td>

                <p> @Model.NoAppear40To47</p>

            </td>
            <td>

                <p> @Model.NoAppear48To55</p>

            </td>
        </tr>
    </tbody>
</table>

