@model WebAppLottery.Models.IndexPageModel
@{
//int c = 0;
}
@if (Model.Data != null)
{
    if (Model.ListLoaiVe == WebAppLottery.Models.IndexPageModel.LoaiVe._6Over45 ||
             Model.ListLoaiVe == WebAppLottery.Models.IndexPageModel.LoaiVe._6Over55)
    {
        <div class="container-fluid">
            <div class="col-12">
                <h6> Số xuất hiện theo chu kỳ</h6>
            </div>
            <div class="col-12">
                <table class="table table-secondary table-striped table-bordered TableData">
                    <thead class="table-dark">
                        <tr class="text-info">
                            <td><h6 id="QuantitySoDaChon"></h6>Số</td>
                            <td>Xuất hiện</td>
                            @*@foreach (var i in Model.AllDatePublist.OrderByDescending(x => x.Date))
                                {
                                    <td>@string.Format("{0:d/M}", i.Date)</td>
                                }*@
                            <td>Ngày</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.Data)
                        {
                            <tr>
                                <td class="align-middle">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="dark" data-offstyle="success"
                                           data-width="50" data-height="30"
                                           data-on="@i.LotNumber" data-off="@i.LotNumber"
                                           onchange="SoDaChonClick(this)" />
                                </td>
                                <td class="align-middle"><h6>@i.TotalNumberAppearInRange</h6></td>
                                @foreach (var j in Model.AllDatePublist.OrderByDescending(x => x.Date))
                                {
                                    <td class="align-middle">
                                        @foreach (var k in i.DatePublishList.DatePublishList1.OrderByDescending(x => x.Date))
                                        {
                                            if (j.Date == k.Date)
                                            {
                                                <div class="MauNenSoTrung font-italic fs-5 text-secondary align-items-lg-center align-middle text-center">
                                                    <p class="SoTrungFontSize">@string.Format("{0:d/M}", k.Date)</p>
                                                </div>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else if (Model.ListLoaiVe != WebAppLottery.Models.IndexPageModel.LoaiVe._Keno)
    {
        <div class="container-fluid">
            <div class="col-12">
                <h6>Số xuất hiện theo chu kỳ</h6>
            </div>
            <div class="col-12">
                <table class="table table-secondary table-striped table-bordered TableData">
                    <thead class="table-dark">
                        <tr class="text-info">
                            <td><h6 id="QuantitySoDaChon"></h6>Số</td>
                            <td>Xuất hiện</td>
                            <td>Kỳ quay</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.Data)
                        {
                            <tr>
                                <td class="align-middle">
                                    <input type="checkbox" checked data-toggle="toggle" data-onstyle="dark" data-offstyle="success"
                                           data-width="50" data-height="30"
                                           data-on="@i.LotNumber" data-off="@i.LotNumber"
                                           onchange="SoDaChonClick(this)" />
                                </td>
                                <td class="align-middle"><h6>@i.TotalNumberAppearInRange</h6></td>
                                @foreach (var j in Model.KyQuays.OrderByDescending(x => x.Key))
                                {
                                    <td class="align-middle">
                                        @foreach (var k in i.DatePublishList.LstKyQuay.OrderByDescending(x => x))
                                        {
                                            if (j.Key == k.Value)
                                            {
                                                <div class="MauNenSoTrung font-italic fs-5 text-secondary align-items-lg-center align-middle text-center">
                                                    <p class="SoTrungFontSize">@string.Format("{0:0,0}", k.Value)</p>
                                                </div>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}